h1{
    background-color: black;
    
}

h2{
    background-color: blueviolet;
    color: white;
    text-align: center;
    font-style: italic;

}

h3{
    background-color: skyblue;
    text-align: end;
    text-decoration: underline;
}