.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 15px;
    
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 15px;
}
.row {
    display: flex;
}